#sport-form {
    float: right;
    margin-right: 60px;
    margin-top: 5px;
    height:1000px;
}
#search {
    width: 90%;
}

#sportBtn {
    margin: 20px;

}
#addInput {
    margin-top: 10px;
    
}
body {
    padding: 5px;
}
#sport-input {
    font-weight: bold;
}